In [1]:
import pandas as pd
import numpy as np

In [7]:
guns_15 = pd.read_csv("Resources/2015_all_gun_deaths.csv")
guns_16 = pd.read_csv("Resources/2016_all_gun_deaths.csv")
guns_17 = pd.read_csv("Resources/2017_all_gun_deaths.csv")

In [8]:
guns_17.head()

,Unnamed: 0,Resident_Status,Education,Month_Of_Death,Sex,Age_Key,Age_Value,Age_Sub_Flag,Age_Recode_52,Age_Recode_27,...,RA18,RA19,RA20,Race,Race_Bridged,Race_Imputation,Race_Recode_3,Race_Recode_5,Hispanic_Origin,Hispanic_Origin_Recode
0,60,1,,101,F,1,34,,32,12,...,,,,3,,,2,3,100,8
1,86,1,,101,M,1,16,,29,9,...,,,,3,,,2,3,100,8
2,112,1,,101,M,1,31,,32,12,...,,,,2,1,,3,2,100,7
3,162,1,,101,F,1,21,,30,10,...,,,,3,,,2,3,100,8
4,179,1,,101,M,1,17,,29,9,...,,,,1,,1,1,1,210,1